@import './../../uxu-utils/libs/design-system/src/lib/theme/breakpoints';

$default-grid-layout: (
  xs: 1fr,
  m: 250px 1fr,
  l: 250px 1fr 250px
);

@mixin media($breakpoint) {
  @media all and (min-width: map-get($breakpoints, $breakpoint) + px) {
    @content;
  }
}

.container {
  display: grid;
  margin: 0 auto;
  max-width: var(--lt-color-gray-100);
  grid-template-columns: map-get($default-grid-layout, xs);

  @include media(m) {
    grid-template-columns: map-get($default-grid-layout, m);
  }

  @include media(l) {
    grid-template-columns: map-get($default-grid-layout, l);
  }
}

.logo {
  width: 25rem;

  svg {
    height: 3.2rem;

    @include media(m) {
      height: 2.4rem;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--uxu-color-primary-accent5);
      }
    }
  }
}

.nav {
  display: flex;
  list-style: none;
  gap: var(--uxu-space-default);

  a {
    font-size: var(--uxu-font-size-small);
  }

  .active {
    font-weight: bold;
    color: var(--uxu-color-primary-foreground);
  }
}


.headerBox {
  top: 0;
  width: 100%;
  height: 64px;
  display: block;
  position: absolute;
  background: linear-gradient(to right, var(--uxu-color-gray-100), var(--uxu-color-primary-background));
}

.modalFeedBack {
width: 500px;
  height: 500px;
  background: red;
}
